@inject TASA.Services.ServiceWrapper service
@inject TASA.Models.TASAContext db
@using Microsoft.EntityFrameworkCore
@{
    var user = TASA.Services.AuthModule.UserClaimsService.ToAuthUser(Context.User.Claims);
    var isDirectRoomManager = user?.Id != null && db.SysRoom
    .AsNoTracking()
    .IgnoreQueryFilters()
    .Any(r => r.ManagerId == user.Id.Value && r.IsEnabled && r.DeleteAt == null);
}
<input type="hidden" id="userDepartmentId" value="@user?.DepartmentId" />
<input type="hidden" id="userId" value="@user?.Id" />
<div class="page-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header mx-4 mt-3">
                <div class="row align-items-center">
                    <div class="col-xl-9 col-sm-12 text-branding align-middle">
                        <span class="material-icons min-icons">manage_accounts</span>
                        我的個人資料管理
                    </div>
                    <div class="col-xl-3 col-sm-12 df-box01">
                        <div class="d-flex align-items-center me-3"></div>
                    </div>
                </div>
            </div>
            <!-- end card header -->
            <div class="card-body">
                <div>
                    <h5 class="font-size-16 mb-4"></h5>
                    <ol class="activity-checkout mb-0 px-4 mt-3">
                        <li class="checkout-item">
                            <div class="avatar checkout-icon p-1">
                                <div class="avatar-title rounded-circle bg-primary">
                                    <span class="material-icons min-icons">badge</span>
                                </div>
                            </div>
                            <div class="feed-item-list">
                                <div class="row mb-4">
                                    <label class="col-md-2 col-form-label">姓名</label>
                                    <div class="col-md-10">
                                        <input v-model="personal.vm.Name" type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <label class="col-md-2 col-form-label">Email</label>
                                    <div class="col-md-10">
                                        <input v-model="personal.vm.Email" type="email" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="checkout-item">
                            <div class="avatar checkout-icon p-1">
                                <div class="avatar-title rounded-circle bg-primary">
                                    <span class="material-icons min-icons">password</span>
                                </div>
                            </div>
                            <div class="feed-item-list">
                                <div class="row mb-4">
                                    <label class="col-md-2 col-form-label">修改密碼</label>
                                    <div class="col-md-10">
                                        <input v-model="personal.vm.Password" type="password" class="form-control"
                                            placeholder="如不修改密碼請留空" />
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <label class="col-md-2 col-form-label">確認密碼</label>
                                    <div class="col-md-10">
                                        <input v-model="personal.vm.Password2" type="password" class="form-control"
                                            placeholder="請再次輸入新密碼" />
                                    </div>
                                </div>
                                <div class="row mb-4 text-danger">
                                    密碼須符合最少十位、至少包含一個大寫，一個小寫，一個數字，一個符號(@@$!%*?&)
                                </div>
                            </div>
                        </li>
                        @if (isDirectRoomManager)
                        {
                            <li class="checkout-item">
                                <div class="avatar checkout-icon p-1">
                                    <div class="avatar-title rounded-circle bg-primary">
                                        <i class="mdi mdi-account-switch text-white font-size-20"></i>
                                    </div>
                                </div>
                                <div class="feed-item-list">
                                    <h5 class="font-size-14 mb-3">代理人設定</h5>
                                    <div class="row mb-4">
                                        <label class="col-md-2 col-form-label">代理人</label>
                                        <div class="col-md-10">
                                            <select v-model="delegate.vm.DelegateUserId" class="form-select">
                                                <option value="">-- 請選擇代理人 --</option>
                                                <option v-for="u in delegate.users" :key="u.Id" :value="u.Id">
                                                    {{u.Name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row mb-4">
                                        <label class="col-md-2 col-form-label">開始日期</label>
                                        <div class="col-md-4">
                                            <input v-model="delegate.vm.StartDate" type="date" class="form-control" />
                                        </div>
                                        <label class="col-md-2 col-form-label">結束日期</label>
                                        <div class="col-md-4">
                                            <input v-model="delegate.vm.EndDate" type="date" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row mb-4" v-if="delegate.vm.Id">
                                        <div class="col-md-12">
                                            <span class="badge bg-success" v-if="delegate.isActive">委派中</span>
                                            <span class="badge bg-secondary" v-else>未在委派期間</span>
                                        </div>
                                    </div>
                                    <div class="row mb-4">
                                        <div class="col-md-12">
                                            <button @@click="delegate.save()" class="btn btn-branding text-white px-4 py-2">
                                                儲存委派設定
                                            </button>
                                            <button @@click="delegate.remove()" class="btn btn-danger px-4 py-2 ms-2"
                                                v-if="delegate.vm.Id">
                                                取消委派
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        }
                    </ol>
                </div>
                <div class="border-1 border-top px-5 pb-3 mb-6 text-center">
                    <button @@click="personal.save()"
                        class="btn btn-branding text-white px-4 py-2 mt-4 mb-3 font-size-18">
                        確認修改(<u>S</u>)
                    </button>
                    <button @@click="personal.resetPassword()"
                        class="btn btn-secondary px-4 py-2 mt-4 mb-3 ms-2 font-size-18">
                        清空密碼
                    </button>
                </div>
            </div>
        </div>
        <div style="clear:both"></div>
    </div>
    <!-- container-fluid -->
</div>