<div class="page-content">
    <div class="container-fluid vstack gap-3">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-xl-auto col-sm-12 text-branding d-flex align-items-center">
                        <span class="material-icons">folder</span>環控總覽
                    </div>
                    <div class="col-12 col-lg-2">
                        <div class="input-group">
                            <div class="form-floating">
                                <input v-model="ecs.query.keyword" @@blur="ecs.getList" type="text" class="form-control" placeholder="關鍵字">
                                <label>關鍵字</label>
                            </div>
                            <button @@click="ecs.getList" class="btn btn-secondary"><span class="material-icons">search</span></button>
                        </div>
                    </div>
                    <div class="col-auto d-flex align-items-center">
                        <button @@click="ecs.getVM()" class="btn btn-primary">新增環控</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-hover table-responsive">
                    <caption>環控列表</caption>
                    <thead>
                        <tr class="table-light">
                            <th>名稱</th>
                            <th>會議室</th>
                            <th>指令</th>
                            <th>啟用</th>
                            <th>建立日期</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in ecs.list" @@dblclick="ecs.getVM(item.Id)" :key="item.Id">
                            <td>{{item.Name}}</td>
                            <td>{{item.RoomName}}</td>
                            <td>{{item.Macro}}</td>
                            <td>{{item.IsEnabled?'V':''}}</td>
                            <td>{{item.CreateAt.format()}}</td>
                            <td>
                                <div class="btn-group btn-group-sm" role="group">
                                    <button @@click="ecs.getVM(item.Id)" class="btn btn-sm btn-secondary">編輯</button>
                                    <button @@click="ecs.test(item.Id)" class="btn btn-sm btn-success">測試</button>
                                    <button @@click="ecs.delete(item.Id)" class="btn btn-sm btn-danger">刪除</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot v-if="ecs.list.length==0">
                        <tr>
                            <td colspan="6" class="text-center">查無資料</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
<offcanvas ref="ecsoffcanvas">
    <template #header>
        <div class="col-xl-auto col-sm-12 text-branding d-flex align-items-center">
            <span class="material-icons">folder</span>環控管理
        </div>
    </template>
    <template #footer>
        <button @@click="ecs.save()" class="btn btn-branding text-white">
            確認修改
        </button>
    </template>
    <ol class="activity-checkout mb-0 px-4 mt-3">
        <li class="checkout-item">
            <div class="avatar checkout-icon p-1">
                <div class="avatar-title rounded-circle bg-primary">
                    <span class="material-icons font-size-20">edit</span>
                </div>
            </div>
            <div class="feed-item-list">
                <div class="row align-items-center">
                    <div class="col-sm-12 col-xl-auto pe-0">
                        <label class="col-form-label pe-3">名稱</label>
                    </div>
                    <div class="col-12">
                        <input v-model="ecs.vm.Name" type="text" class="form-control" placeholder="名稱" />
                    </div>
                </div>
            </div>
        </li>
        <li class="checkout-item">
            <div class="avatar checkout-icon p-1">
                <div class="avatar-title rounded-circle bg-primary">
                    <span class="material-icons font-size-20"></span>
                </div>
            </div>
            <div class="feed-item-list">
                <div class="row align-items-center">
                    <div class="col-sm-12 col-xl-auto pe-0">
                        <label class="col-form-label pe-3">會議室</label>
                    </div>
                    <div class="col-12">
                        <select v-model="ecs.vm.RoomId" class="form-select">
                            <option value="">請選擇</option>
                            <option v-for="{Id,Name} in room.list" :key="Id" :value="Id">{{Name}}</option>
                        </select>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-sm-12 col-xl-auto pe-0">
                        <label class="col-form-label pe-3">指令</label>
                    </div>
                    <div class="col-12">
                        <input v-model="ecs.vm.Macro" type="text" class="form-control" placeholder="指令" />
                    </div>
                </div>
            </div>
        </li>
        <li class="checkout-item">
            <div class="avatar checkout-icon p-1">
                <div class="avatar-title rounded-circle bg-primary">
                    <span class="material-icons font-size-20"></span>
                </div>
            </div>
            <div class="feed-item-list">
                <div class="row align-items-center">
                    <div class="col-sm-12 col-xl-auto pe-0">
                        <label class="col-form-label pe-3">設備</label>
                    </div>
                    <label v-for="{Id,Name} in equipment.list" :key="Id" class="col-12">
                        <input v-model="ecs.vm.Equipment" class="form-check-input" type="checkbox" :value="Id" />{{Name}}
                    </label>
                </div>
            </div>
        </li>
        <li class="checkout-item">
            <div class="avatar checkout-icon p-1">
                <div class="avatar-title rounded-circle bg-primary">
                    <span class="material-icons font-size-20">check</span>
                </div>
            </div>
            <div class="feed-item-list">
                <div class="row align-items-center">
                    <div class="col-sm-12 col-xl-auto pe-0">
                        <label class="col-form-label pe-3">啟用</label>
                    </div>
                    <div class="col-12">
                        <label class="form-check">
                            <input v-model="ecs.vm.IsEnabled" class="form-check-input" type="checkbox" :value="true">
                        </label>
                    </div>
                </div>
            </div>
        </li>
    </ol>
</offcanvas>