<div class="page-content" v-cloak>
    <div class="container-fluid vstack gap-3">
        <div class="card">
            <div class="card-header mx-4 mt-3">
                <div class="row align-items-center">
                    <div class="col-auto text-branding align-middle">
                        <span class="material-icons">tablet_android</span> 桌牌租借
                    </div>
                </div>
            </div>
            <div class="card-body">
                <p class="text-muted">功能建置中...</p>
            </div>
        </div>
    </div>
</div>
