<div class="page-content" v-cloak>
    <div class="container-fluid vstack gap-3">
        <div class="card">
            <div class="card-header mx-4 mt-3">
                <div class="row d-flex align-items-center g-2">
                    <div class="col-xl-auto col-sm-12 text-branding d-flex align-items-center">
                        <span class="material-icons">assessment</span>會議報表
                    </div>
                    <div class="col-lg-auto col-12">
                        <div class="input-group input-group-sm">
                            <input v-model="report.query.startDate" type="date" class="form-control"
                                   style="min-width: 130px;">
                            <span class="input-group-text">~</span>
                            <input v-model="report.query.endDate" type="date" class="form-control"
                                   style="min-width: 130px;">
                        </div>
                    </div>
                    <div class="col-auto">
                        <select v-model="report.query.roomId" class="form-select form-select-sm">
                            <option value="">全部會議室</option>
                            <option v-for="room in report.rooms" :key="room.Id" :value="room.Id">{{ room.Name }}
                            </option>
                        </select>
                    </div>
                    <div class="col-auto">
                        <select v-model="report.query.paymentMethod" class="form-select form-select-sm">
                            <option value="">全部繳款方式</option>
                            <option value="cash">現金付款</option>
                            <option value="transfer">銀行匯款</option>
                            <option value="cost-sharing">成本分攤</option>
                        </select>
                    </div>
                    <div class="col-auto" v-if="report.query.paymentMethod === 'cost-sharing'">
                        <select v-model="report.query.departmentCode" class="form-select form-select-sm">
                            <option value="">部門代碼</option>
                            <option v-for="code in report.departmentCodes" :key="code" :value="code">{{ code }}</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-sm align-middle"
                           style="table-layout: fixed; min-width: 800px;">
                        <caption>會議報表（已收款）</caption>
                        <colgroup>
                            <col style="width: 45px;">
                            <col style="width: 95px;">
                            <col v-if="report.query.paymentMethod === 'cost-sharing'" style="width: 90px;">
                            <col style="width: 180px;">
                            <col style="width: 105px;">
                            <col style="width: 110px;">
                            <col style="width: 80px;">
                            <col style="width: 50px;">
                            <col style="width: 100px;">
                        </colgroup>
                        <thead class="table-light text-center">
                            <tr>
                                <th class="text-nowrap text-center">序號</th>
                                <th class="text-nowrap">
                                    <input type="checkbox" v-model="report.exportColumns.bookingNo"
                                           class="form-check-input me-1" title="匯出此欄位">單號
                                </th>
                                <th v-if="report.query.paymentMethod === 'cost-sharing'" class="text-nowrap">
                                    <input type="checkbox" v-model="report.exportColumns.borrowingUnit"
                                           class="form-check-input me-1" title="匯出此欄位">借用單位
                                </th>
                                <th class="text-nowrap">
                                    <input type="checkbox" v-model="report.exportColumns.conferenceName"
                                           class="form-check-input me-1" title="匯出此欄位">會議名稱
                                </th>
                                <th class="text-nowrap">
                                    <input type="checkbox" v-model="report.exportColumns.dateRange"
                                           class="form-check-input me-1" title="匯出此欄位">會議日期
                                </th>
                                <th class="text-nowrap">
                                    <input type="checkbox" v-model="report.exportColumns.roomName"
                                           class="form-check-input me-1" title="匯出此欄位">會議室
                                </th>
                                <th class="text-nowrap">
                                    <input type="checkbox" v-model="report.exportColumns.paymentMethod"
                                           class="form-check-input me-1" title="匯出此欄位">繳款方式
                                </th>
                                <th class="text-nowrap">
                                    <input type="checkbox" v-model="report.exportColumns.attendees"
                                           class="form-check-input me-1" title="匯出此欄位">人數
                                </th>
                                <th class="text-nowrap">
                                    <input type="checkbox" v-model="report.exportColumns.amount"
                                           class="form-check-input me-1" title="匯出此欄位">金額
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(item, index) in report.list" :key="item.Id">
                                <td class="fw-bold text-center">{{ index + 1 }}</td>
                                <td class="text-nowrap">{{ item.BookingNo }}</td>
                                <td v-if="report.query.paymentMethod === 'cost-sharing'" class="text-nowrap">{{
                                    item.BorrowingUnitName }}</td>
                                    <td class="text-start" style="word-break: break-all;">{{ item.ConferenceName }}</td>
                                    <td class="text-center" style="white-space: pre-line;">{{ item.DateRange.replace(' ~ ', '\n~ ') }}</td>
                                    <td>{{ item.RoomName }}</td>
                                    <td class="text-nowrap">{{ item.PaymentMethodText }}</td>
                                    <td>{{ item.ExpectedAttendees || '-' }}</td>
                                    <td class="text-end text-nowrap" style="font-variant-numeric: tabular-nums;">
                                        ${{ item.TotalAmount.toLocaleString() }}
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr v-if="report.list.length === 0">
                                    <td :colspan="report.query.paymentMethod === 'cost-sharing' ? 9 : 8"
                                        class="text-center text-muted">查無資料</td>
                                </tr>
                                <tr v-else class="fw-bold border-top border-2">
                                    <td colspan="2" class="text-nowrap">合計</td>
                                    <td v-if="report.query.paymentMethod === 'cost-sharing'" class="text-nowrap">共 {{
                                        report.summary.totalCount }} 筆</td>
                                        <td v-if="report.query.paymentMethod !== 'cost-sharing'" class="text-nowrap">共 {{
                                            report.summary.totalCount }} 筆</td>
                                            <td v-if="report.query.paymentMethod === 'cost-sharing'"></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>{{ report.summary.totalAttendees }}</td>
                                            <td class="text-end text-nowrap" style="font-variant-numeric: tabular-nums;">
                                                ${{ report.summary.grandTotal.toLocaleString() }}
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>

                            <div class="d-flex align-items-center mt-2">
    <div class="flex-grow-1 d-flex justify-content-center">
        <page ref="reportpage" :per-page="10" :per-page-option="[10,20,30]" @@reload="report.getList(true)"></page>
    </div>
    <button @@click="report.exportExcel" class="btn btn-outline-success btn-sm flex-shrink-0">
        <span class="material-icons align-middle" style="font-size: 18px;">file_download</span> 匯出 Excel
    </button>
</div>
                        </div>
                    </div>
                </div>
            </div>