<div class="page-content">
    <div class="container-fluid vstack gap-3">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-xl-auto col-sm-12 text-branding d-flex align-items-center">
                        <span class="material-icons">folder</span>會議室總覽
                    </div>
                    <div class="col-12 col-lg-2">
                        <div class="input-group">
                            <div class="form-floating">
                                <input v-model="room.query.keyword" @@blur="room.getList" type="text" class="form-control" placeholder="關鍵字">
                                <label>關鍵字</label>
                            </div>
                            <button @@click="room.getList" class="btn btn-secondary"><span class="material-icons">search</span></button>
                        </div>
                    </div>
                    <div class="col-auto d-flex align-items-center">
                        <button @@click="room.getVM()" class="btn btn-primary">新增會議室</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-hover table-responsive">
                    <caption>會議室列表</caption>
                    <thead>
                        <tr class="table-light">
                            <th>代碼</th>
                            <th>名稱</th>
                            <th>啟用</th>
                            <th>建立日期</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in room.list" @@dblclick="room.getVM(item.Id)" :key="item.Id">
                            <td>{{item.No}}</td>
                            <td>{{item.Name}}</td>
                            <td>{{item.IsEnabled?'V':''}}</td>
                            <td>{{item.CreateAt.format()}}</td>
                            <td>
                                <div class="btn-group btn-group-sm" role="group">
                                    <button @@click="room.getVM(item.Id)" class="btn btn-sm btn-secondary">編輯</button>
                                    <button @@click="room.delete(item.Id)" class="btn btn-sm btn-danger">刪除</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot v-if="room.list.length==0">
                        <tr>
                            <td colspan="4" class="text-center">查無資料</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
<offcanvas ref="roomoffcanvas">
    <template #header>
        <div class="col-xl-auto col-sm-12 text-branding d-flex align-items-center">
            <span class="material-icons">folder</span>會議室管理
        </div>
    </template>
    <template #footer>
        <button @@click="room.save()" class="btn btn-branding text-white">
            確認修改
        </button>
    </template>
    <ol class="activity-checkout mb-0 px-4 mt-3">
        <li class="checkout-item">
            <div class="avatar checkout-icon p-1">
                <div class="avatar-title rounded-circle bg-primary">
                    <span class="material-icons font-size-20">edit</span>
                </div>
            </div>
            <div class="feed-item-list">
                <div class="row align-items-center">
                    <div class="col-sm-12 col-xl-auto pe-0">
                        <label class="col-form-label pe-3">名稱</label>
                    </div>
                    <div class="col-12">
                        <input v-model="room.vm.Name" type="text" class="form-control" placeholder="名稱" />
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-sm-12 col-xl-auto pe-0">
                        <label class="col-form-label pe-3">描述</label>
                    </div>
                    <div class="col-12">
                        <input v-model="room.vm.Description" type="text" class="form-control" placeholder="描述" />
                    </div>
                </div>
            </div>
        </li>
        <li class="checkout-item">
            <div class="avatar checkout-icon p-1">
                <div class="avatar-title rounded-circle bg-primary">
                    <span class="material-icons font-size-20">check</span>
                </div>
            </div>
            <div class="feed-item-list">
                <div class="row align-items-center">
                    <div class="col-sm-12 col-xl-auto pe-0">
                        <label class="col-form-label pe-3">啟用</label>
                    </div>
                    <div class="col-12">
                        <label class="form-check">
                            <input v-model="room.vm.IsEnabled" class="form-check-input" type="checkbox" :value="true">
                        </label>
                    </div>
                </div>
            </div>
        </li>
    </ol>
</offcanvas>