@inject TASA.Services.ServiceWrapper service
@{
    var user = TASA.Services.AuthModule.UserClaimsService.ToAuthUser(Context.User.Claims);
}

<header v-if="name" class="ishorizontal-topbar">
    <div class="navbar-header">
        <div class="d-flex">
            <!-- logo -->
            <div class="navbar-brand-box">
                <a href="/" class="logo logo-dark">
                    <span class="logo-sm">
                        <img src="/images/logo/logo-ucms-sm-01.png" alt="logo" height="32">
                    </span>
                    <span class="logo-lg">
                        <img src="/images/logo/logo-ucms-01.png" alt="logo" height="32">
                    </span>
                </a>
            </div>
            <div class="btn btn-sm header-item px-3 font-size-16 d-lg-none icon-text-container"
                data-bs-toggle="collapse" data-bs-target="#topnav-menu-content">
                <span class="material-icons">menu</span>
            </div>
            <div class="d-none d-sm-block ms-2 align-self-center">
                <h4 class="page-title">會議資源管理系統</h4>
            </div>
        </div>
        <div class="d-flex">
            <div class="dropdown d-inline-block">
                <div class="btn header-item user text-start icon-text-container" data-bs-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <img class="rounded-circle header-profile-user" src="/images/avatar.jpg" alt="Header Avatar">
                    <h6 class="mb-0">歡迎, {{name}}</h6>
                </div>
                <div class="dropdown-menu dropdown-menu-end">
                    <a href="/auth/profiles" class="dropdown-item">個人資料</a>
                    <div class="dropdown-divider"></div>
                    <div @@click="logout" class="dropdown-item icon-text-container" role="button">
                        <span class="material-icons font-size-16">output</span>
                        <span class="align-middle ms-1">登出({{countdown}})</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="topnav">
        <div class="container-fluid">
            <nav class="navbar navbar-light navbar-expand-lg topnav-menu">
                <div class="collapse navbar-collapse" id="topnav-menu-content">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="/calendar" class="nav-link icon-text-container">
                                <span class="material-icons font-size-16">grid_view</span>
                                <span class="text">會議室總覽</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/conference" class="nav-link icon-text-container">
                                <span class="material-icons font-size-16">grid_view</span>
                                <span class="text">會議預約</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/conferencetemplate" class="nav-link icon-text-container">
                                <span class="material-icons font-size-16">grid_view</span>
                                <span class="text">會議範本</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/reservationoverview" class="nav-link icon-text-container">
                                <span class="material-icons font-size-16">calendar_today</span>
                                <span class="text">預約總覽</span>
                            </a>
                        </li>
                        @if (user?.IsAdmin == true || user?.IsAccountant == true || user?.IsDirector == true)
                        {
                            <li class="nav-item">
                                <a href="/admin/reservation" class="nav-link icon-text-container">
                                    <span class="material-icons font-size-16">assignment_turned_in</span>
                                    <span class="text">預約審核</span>
                                </a>
                            </li>

                        }

                        @if (user?.IsAdmin == true)
                        {
                            <li class="nav-item">
                                <a href="/admin/authuser" class="nav-link icon-text-container">
                                    <span class="material-icons font-size-16">grid_view</span>
                                    <span class="text">使用者總覽</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/admin/sysdepartment" class="nav-link icon-text-container">
                                    <span class="material-icons font-size-16">grid_view</span>
                                    <span class="text">單位總覽</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/admin/sysroom" class="nav-link icon-text-container">
                                    <span class="material-icons font-size-16">grid_view</span>
                                    <span class="text">會議室管理</span>
                                </a>
                            </li>

                            @* <li class="nav-item">
                                <a href="/admin/seatsetting" class="nav-link icon-text-container">
                                    <span class="material-icons font-size-16">badge</span>
                                    <span class="text">電子桌牌設定</span>
                                </a>
                            </li> *@

                            @* <li class="nav-item">
                                <a href="/admin/visitor" class="nav-link icon-text-container">
                                    <span class="material-icons font-size-16">people</span>
                                    <span class="text">訪客總覽</span>
                                </a>
                            </li> *@
                            <li class="nav-item">
                                <a href="/admin/equipment" class="nav-link icon-text-container">
                                    <span class="material-icons font-size-16">grid_view</span>
                                    <span class="text">設備總覽</span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="/admin/loginlog" class="nav-link icon-text-container">
                                    <span class="material-icons font-size-16">history</span>
                                    <span class="text">登入日誌</span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="/admin/sysconfig" class="nav-link icon-text-container">
                                    <span class="material-icons font-size-16">settings</span>
                                    <span class="text">系統設定</span>
                                </a>
                            </li>

                            @if (service.SettingServices.GetSettings().UCNS.Ecs)
                            {

                                <li class="nav-item">
                                    <a href="/admin/ecs" class="nav-link icon-text-container">
                                        <span class="material-icons font-size-16">grid_view</span>
                                        <span class="text">環控總覽</span>
                                    </a>
                                </li>
                            }
                            @if (service.SettingServices.GetSettings().UCNS.Webex)
                            {
                                <li class="nav-item">
                                    <a href="/admin/webex" class="nav-link icon-text-container">
                                        <span class="material-icons font-size-16">grid_view</span>
                                        <span class="text">Webex設定</span>
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>