<!--Conference-->
<div class="page-content" v-cloak>
    <div class="container-fluid vstack gap-3">
        <div class="card">
            <div class="card-header">
                <div class="row d-flex align-items-center">
                    <div class="col-xl-auto col-sm-12 text-branding d-flex align-items-center">
                        <span class="material-icons">format_list_bulleted</span>會議總覽
                    </div>
                    <div class="col-12 col-lg-3">
                        <div class="input-group">
                            <input v-model="conference.query.Start" type="date" class="form-control"
                                   placeholder="會議時間(起)">
                            <span class="input-group-text">-</span>
                            <input v-model="conference.query.End" type="date" class="form-control"
                                   placeholder="會議時間(訖)">
                        </div>
                    </div>
                    <div class="col-12 col-lg-auto">
                        <select v-model="conference.query.RoomId" @@change="conference.onFilterChange"
                                class="form-select">
                            <option value="">與會地點</option>
                            <option v-for="{Id,Name} in room.list" :value="Id">{{Name}}</option>
                        </select>
                    </div>
                    <div class="col-12 col-lg-auto">
                        <select v-model="conference.query.UserId" @@change="conference.onFilterChange"
                                class="form-select">
                            <option value="">發起會議者</option>
                            <option v-for="{Id,Name} in createby.list" :value="Id">{{Name}}</option>
                        </select>
                    </div>
                    <div class="col-12 col-lg-2">
                        <div class="search-box">
                            <div class="position-relative">
                                <input type="text" class="form-control" v-model="conference.query.keyword"
                                       placeholder="搜尋關鍵字...">
                                <span class="material-icons search-icon">search</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto d-flex align-items-center ms-auto">
                        <a href="/Conference/Create" class="btn btn-primary">
                            新增會議
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-hover table-responsive">
                    <caption>會議列表</caption>
                    <thead>
                        <tr class="table-light">
                            <th>會議名稱</th>
                            <th>承辦單位</th>
                            <th>會議主席</th>
                            <th>會議日期</th>
                            <th>時段</th>
                            <th>與會地點</th>
                            <th>發起會議者</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in conference.list" :key="item.Id">
                            <td class="text-ellipsis">{{item.Name}}</td>
                            <td>{{item.OrganizerUnit || '-'}}</td>
                            <td>{{item.Chairman || '-'}}</td>
                            <td>{{item.SlotDate || (item.StartTime ? item.StartTime.format('yyyy-mm-dd') : '-')}}</td>
                            <td>{{item.SlotStart ? item.SlotStart.slice(0,5) + ' ~ ' + item.SlotEnd.slice(0,5) + ' (' +
                                item.SlotCount + '個時段)' : (item.StartTime ? item.StartTime.format('HH:MM') + ' ~ ' +
                                item.EndTime.format('HH:MM') : '-')}}</td>
                                <td>{{item.RoomLocation || '-'}}</td>
                                <td>{{item.CreateByName}}</td>
                                @* <td class="hstack gap-3">
                                    <button v-if="item.ZeroTouch" @@click="zerotouch.get(item.Id)"
                                            class="btn btn-sm btn-secondary">ZeroTouch</button>
                                </td> *@
                            </tr>
                        </tbody>
                        <tfoot v-if="conference.list.length==0">
                            <tr>
                                <td colspan="6" class="text-center">查無資料</td>
                            </tr>
                        </tfoot>
                    </table>

                    <page ref="conferencepage" :per-page="20" :per-page-option="[20,40,60]" @@reload="conference.getList">
                    </page>
                </div>
            </div>
        </div>
    </div>

    @{
        ViewBag.IsTemplate = false;
    }