<!--calendar-->
<div class="page-content">
    <div class="container-fluid vstack gap-3">
    </div>
</div>

<partial name="_View" />

@{
    ViewBag.IsTemplate = false;
}
<partial name="~/Views/Conference/_Edit.cshtml" />