<link rel="stylesheet" href="/css/reservation.css">

<div id="app" v-cloak class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <!-- Header -->
                        <div class="card-header mx-4 mt-3">
                            <div class="row align-items-center">
                                <div class="col-xl-auto col-sm-12 text-branding align-middle">
                                    <span class="material-icons">playlist_add_check</span> 預約總覽
                                </div>
                                <div class="col-xl-3 col-sm-12">
                                    <div class="search-box">
                                        <div class="position-relative">
                                            <input type="text" class="form-control" v-model="searchQuery"
                                                   placeholder="搜尋預約單號、預約者...">
                                            <span class="material-icons search-icon">search</span>
                                        </div>
                                    </div>
                                </div>
                                @* <div class="col-xl-2 col-sm-10">
                                    <input type="text" class="form-control" v-model="dateRange" placeholder="選擇日期範圍" />
                                </div> *@
                                <template v-if="activeTab === 'all' && canViewAllReservations">
                                    <div class="col-xl-2 col-sm-12">
                                        <select class="form-select" v-model.number="approvalStatusFilter">
                                            <option value="">審核狀態</option>
                                            <option :value="1">待審核</option>
                                            <option :value="2">待繳費</option>
                                            <option :value="3">預約成功</option>
                                            <option :value="4">審核拒絕</option>
                                            <option :value="5">已取消</option>
                                        </select>
                                    </div>
                                    <div class="col-xl-2 col-sm-12">
                                        <select class="form-select" v-model.number="paymentStatusFilter">
                                            <option value="">付款狀態</option>
                                            <option :value="1">未付款</option>
                                            <option :value="2">待查帳</option>
                                            <option :value="3">已收款</option>
                                            <option :value="4">待重新上傳</option>
                                        </select>
                                    </div>
                                </template>

                                <!-- ✅ 個人預約:單一狀態篩選 -->
                                <template v-if="activeTab === 'personal'">
                                    <div class="col-xl-2 col-sm-12">
                                        <select class="form-select" v-model="userStatusFilter">
                                            <option v-for="opt in userStatusOptions" :key="opt.value"
                                                    :value="opt.value">
                                                {{ opt.text }}
                                            </option>
                                        </select>
                                    </div>
                                </template>
                            </div>
                        </div>

                        <!-- Body -->
                        <div class="card-body">
                            <!-- Tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item" role="presentation" v-if="canViewAllReservations">
                                    <button class="nav-link" :class="{ active: activeTab === 'all' }"
                                        @@click="switchTab('all')" type="button">
                                        所有預約
                                    </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" :class="{ active: activeTab === 'personal' }"
                                        @@click="switchTab('personal')" type="button">
                                        個人預約
                                    </button>
                                </li>
                            </ul>

                            <div class="table-responsive mx-3 mt-4">
                                <!-- Tab Content -->
                                <div class="tab-content">
                                    <!-- 所有預約 Tab -->
                                    <div v-show="activeTab === 'all' && canViewAllReservations">
                                        <table class="table align-middle table-nowrap mb-0 table-hover">
                                            <thead class="table-light">
                                                <tr>
                                                    <th class="align-middle">預約單號</th>
                                                    <th class="align-middle">預約者</th>
                                                    <th class="align-middle">會議名稱</th>
                                                    <th class="align-middle">承辦單位</th>
                                                    <th class="align-middle">會議主席</th>
                                                    <th class="align-middle">預約日期</th>
                                                    <th class="align-middle">時間</th>
                                                    <th class="align-middle">會議室</th>
                                                    <th class="align-middle">繳費截止日</th>
                                                    <th class="align-middle">付款方式</th>
                                                    <th class="align-middle">金額</th>
                                                    <th class="align-middle">審核狀態</th>
                                                    <th class="align-middle">付款狀態</th>
                                                    <th class="align-middle">成本中心代碼</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="item in filteredAllReservations" :key="item.id"
                                                    class="row-click" role="button" @@click="openDetailDrawer(item)">
                                                    <td>{{ item.reservationNo }}</td>
                                                    <td>{{ item.reserverName }}</td>
                                                    <td class="text-ellipsis">{{ item.conferenceName || '-' }}</td>
                                                    <td>{{ item.organizerUnit || '-' }}</td>
                                                    <td>{{ item.chairman || '-' }}</td>
                                                    <td>{{ item.reservationDate }}</td>
                                                    <td>{{ item.timeSlot }}</td>
                                                    <td>{{ item.roomName }}</td>
                                                    <td>{{ item.paymentDeadline }}</td>
                                                    <td>{{ getPaymentMethodText(item.paymentMethod) }}</td>
                                                    <td>NT${{ item.amount.toLocaleString() }}</td>
                                                    <td>
                                                        <span class="badge"
                                                              :class="getApprovalStatusClass(item.approvalStatus)">
                                                            {{ item.approvalStatus }}
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span v-if="item.paymentStatus === '-'"
                                                              class="text-muted">-</span>
                                                        <span v-else class="badge"
                                                              :class="getPaymentStatusClass(item.paymentStatus)">
                                                            {{ item.paymentStatus }}
                                                        </span>
                                                    </td>
                                                    <td>{{ item.costCenter }}</td>
                                                </tr>
                                            </tbody>


                                        </table>

                                        <page ref="allReservationsPage" @@reload="loadAllReservations"></page>

                                    </div>

                                    <!-- 個人預約 Tab -->
                                    <div v-show="activeTab === 'personal'">
                                        <div class="table-responsive">
                                            <table class="table align-middle table-nowrap mb-0 table-hover">
                                                <thead class="table-light">
                                                    <tr>
                                                        <th class="align-middle">預約單號</th>
                                                        <th class="align-middle">會議名稱</th>
                                                        <th class="align-middle">承辦單位</th>
                                                        <th class="align-middle">會議主席</th>
                                                        <th class="align-middle">預約日期</th>
                                                        <th class="align-middle">時間</th>
                                                        <th class="align-middle">會議室</th>
                                                        <th class="align-middle">繳費截止日</th>
                                                        <th class="align-middle">付款方式</th>
                                                        <th class="align-middle">金額</th>
                                                        <th class="align-middle">成本中心代碼</th>
                                                        <th class="align-middle">狀態</th> <!-- ✅ 改為單一狀態欄 -->
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr v-for="item in filteredPersonalReservations" :key="item.id"
                                                        class="row-click" role="button"
                                                        @@click="openDetailDrawer(item)">
                                                        <td>{{ item.reservationNo }}</td>
                                                        <td class="text-ellipsis">{{ item.conferenceName || '-' }}</td>
                                                        <td>{{ item.organizerUnit || '-' }}</td>
                                                        <td>{{ item.chairman || '-' }}</td>
                                                        <td>{{ item.reservationDate }}</td>
                                                        <td>{{ item.timeSlot }}</td>
                                                        <td>{{ item.roomName }}</td>
                                                        <td>{{ item.paymentDeadline }}</td>
                                                        <td>{{ getPaymentMethodText(item.paymentMethod) }}</td>
                                                        <td>NT${{ item.amount.toLocaleString() }}</td>
                                                        <td>{{ item.costCenter }}</td>
                                                        <td>
                                                            <!-- ✅ 使用者友善狀態 -->
                                                            <span class="badge"
                                                                  :class="getUserFriendlyStatusClass(item)">
                                                                {{ getUserFriendlyStatus(item) }}
                                                            </span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <page ref="personalReservationsPage" @@reload="loadPersonalReservations">
                                            </page>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ✅ 預約詳情 Offcanvas -->
    <div class="offcanvas offcanvas-end offcanvas-large" tabindex="-1" id="bookingDrawer" ref="bookingDrawer">
        <div class="offcanvas-header d-flex align-items-center justify-content-between" style="padding-bottom:0;">
            <h4 class="mb-0 fw-bold">
                預約詳情 <small class="text-muted ms-2">#{{ selectedItem?.reservationNo }}</small>
            </h4>
            <!-- ✅ 管理員操作按鈕區（所有預約） -->
            <div v-if="activeTab === 'all' && canAdminCancel(selectedItem)" class="">
                <div class="d-flex flex-wrap gap-2">
                    <button type="button" class="btn btn-outline-danger"
                        @@click="confirmAdminCancel(selectedItem)">
                        <i class="mdi mdi-close-circle me-1"></i> 取消預約
                    </button>
                </div>
            </div>

            <!-- ✅ 個人操作按鈕區（個人預約） -->
            <div v-if="activeTab === 'personal' && shouldShowActionButtons(selectedItem)" class="">

                <!-- 按鈕區 -->
                <div class="d-flex flex-wrap gap-2">
                    <!-- 編輯按鈕 -->
                    <button type="button" class="btn btn-outline-primary" v-if="canEdit(selectedItem)"
                        @@click="editReservation(selectedItem)">
                        <i class="mdi mdi-pencil me-1"></i> 編輯預約
                    </button>
                    <!-- 取消預約按鈕 -->
                    <button type="button" class="btn btn-outline-danger" v-if="canCancel(selectedItem)"
                        @@click="confirmCancel(selectedItem)">
                        <i class="mdi mdi-close-circle me-1"></i> 取消預約
                    </button>
                    <!-- 刪除按鈕 -->
                    <button type="button" class="btn btn-outline-secondary" v-if="canDelete(selectedItem)"
                        @@click="confirmDelete(selectedItem)">
                        <i class="mdi mdi-delete me-1"></i> 刪除預約
                    </button>
                </div>
            </div>
        </div>
       
        <div class="offcanvas-body" v-if="selectedItem">
            
            <form class="row g-3">
                <!-- ========== 基本資訊 ========== -->
                    <div class="col-12">
                        <h5 class="d-flex align-items-center text-primary border-bottom">
                            <span class="material-icons icons">error_outline</span>
                            基本資訊
                        </h5>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6 d-flex flex-sm-column">
                                <span class="form-label text-secondary font-size-18">預約者</span>
                                <label class="form-label fw-bold">{{ selectedItem.reserverName }}</label>
                            </div>
                            <div class="col-md-6 d-flex flex-sm-column">
                                <span class="form-label text-secondary font-size-18">承辦單位</span>
                                <label class="form-label fw-bold">{{ selectedItem.organizerUnit || '-' }}</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6 d-flex flex-sm-column">
                                <span class="form-label text-secondary font-size-18">會議名稱</span>
                                <label class="form-label fw-bold">{{ selectedItem.conferenceName }}</label>
                            </div>
                            <div class="col-md-6 d-flex flex-sm-column">
                                <span class="form-label text-secondary font-size-18">會議主席</span>
                                <label class="form-label fw-bold">{{ selectedItem.chairman || '-' }}</label>
                            </div>
                        </div>
                    </div>
                    <!-- 會議內容 -->
                    <div class="col-md-12" v-if="selectedItem.description">
                        <div class="row">
                            <div class="col-md-12 d-flex flex-sm-column">
                                <span class="form-label text-secondary font-size-18">會議內容</span>
                                <label class="form-label fw-bold" style="white-space: pre-wrap;">{{ selectedItem.description }}</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <h5 class="d-flex align-items-center text-primary border-bottom">
                            <span class="material-icons icons">access_time</span>
                            時間與地點
                        </h5>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6 d-flex flex-sm-column">
                                <span class="form-label text-secondary font-size-18">預約日期</span>
                                <label class="form-label fw-bold">{{ selectedItem.reservationDate }}</label>
                            </div>
                            <div class="col-md-6 d-flex flex-sm-column">
                                <span class="form-label text-secondary font-size-18">時間</span>
                                <label class="form-label fw-bold">{{ selectedItem.timeSlot || '-' }}</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12  d-flex flex-sm-column">
                                <span class="form-label text-secondary font-size-18">會議室</span>
                                <label class="form-label fw-bold">{{ selectedItem.roomName }}</label>
                            </div>
                        </div>
                    </div>

                    <!-- 加租項目（設備、攤位、停車券、附件） -->
                    <template v-if="selectedItem.equipments?.length > 0 || selectedItem.booths?.length > 0 || selectedItem.parkingTicketCount > 0 || selectedItem.attachments?.length > 0">
                        <div class="col-12">
                            <h5 class="d-flex align-items-center text-primary border-bottom">
                                <span class="material-icons icons">inventory_2</span>
                                加租項目與附件
                            </h5>
                        </div>
                        <!-- 加租設備 + 攤位加租 (同一行) -->
                        <div class="col-md-12" v-if="selectedItem.equipments?.length > 0 || selectedItem.booths?.length > 0">
                            <div class="row">
                                <div class="col-md-6 d-flex flex-sm-column" v-if="selectedItem.equipments?.length > 0">
                                    <span class="form-label text-secondary font-size-18">加租設備</span>
                                    <label class="form-label fw-bold">{{ selectedItem.equipments.join('、') }}</label>
                                </div>
                                <div class="col-md-6 d-flex flex-sm-column" v-if="selectedItem.booths?.length > 0">
                                    <span class="form-label text-secondary font-size-18">攤位加租</span>
                                    <label class="form-label fw-bold">{{ selectedItem.booths.join('、') }}</label>
                                </div>
                            </div>
                        </div>
                        <!-- 停車券 -->
                        <div class="col-md-12" v-if="selectedItem.parkingTicketCount > 0">
                            <div class="row">
                                <div class="col-md-6 d-flex flex-sm-column">
                                    <span class="form-label text-secondary font-size-18">停車券</span>
                                    <label class="form-label fw-bold">{{ selectedItem.parkingTicketCount }} 張</label>
                                </div>
                            </div>
                        </div>
                        <!-- 議程表 + 會議文件 (同一行) -->
                        <div class="col-md-12" v-if="selectedItem.attachments?.filter(a => a.Type === 'agenda').length > 0 || selectedItem.attachments?.filter(a => a.Type === 'document').length > 0">
                            <div class="row">
                                <div class="col-md-6 d-flex flex-sm-column" v-if="selectedItem.attachments?.filter(a => a.Type === 'agenda').length > 0">
                                    <span class="form-label text-secondary font-size-18">議程表</span>
                                    <div>
                                        <template v-for="(att, idx) in selectedItem.attachments.filter(a => a.Type === 'agenda')" :key="att.Id">
                                            <a :href="att.FilePath" target="_blank" class="me-2">附件{{ idx + 1 }}</a>
                                        </template>
                                    </div>
                                </div>
                                <div class="col-md-6 d-flex flex-sm-column" v-if="selectedItem.attachments?.filter(a => a.Type === 'document').length > 0">
                                    <span class="form-label text-secondary font-size-18">會議文件</span>
                                    <div>
                                        <template v-for="(att, idx) in selectedItem.attachments.filter(a => a.Type === 'document')" :key="att.Id">
                                            <a :href="att.FilePath" target="_blank" class="me-2">附件{{ idx + 1 }}</a>
                                        </template>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </template>

                    <div class="col-12">
                        <h5 class="d-flex align-items-center text-primary border-bottom">
                            <span class="material-icons icons">local_atm</span>
                            付款資訊
                        </h5>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6 d-flex flex-sm-column">
                                <span class="form-label text-secondary font-size-18">付款方式</span>
                                <label class="form-label fw-bold">{{ getPaymentMethodText(selectedItem.paymentMethod)
                                    }}</label>
                            </div>
                            <div class="col-md-6 d-flex flex-sm-column">
                                <span class="form-label text-secondary font-size-18">金額</span>
                                <label class="form-label fw-bold">NT${{ selectedItem.amount?.toLocaleString() }}</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6 d-flex flex-sm-column">
                                <span class="form-label text-secondary font-size-18">繳費截止日</span>
                                <label class="form-label fw-bold">{{ selectedItem.paymentDeadline }}</label>
                            </div>
                            <div class="col-md-6 d-flex flex-sm-column">
                                <span class="form-label text-secondary font-size-18">成本中心代碼</span>
                                <label class="form-label fw-bold">{{ selectedItem.costCenter || '-' }}</label>
                            </div>
                        </div>
                    </div>
                    <!-- ✅ 折扣資訊 -->
                    <div class="col-md-12" v-if="selectedItem.discountAmount">
                        <div class="alert alert-success py-2 px-3">
                            <div class="d-flex align-items-center">
                                <i class="mdi mdi-sale me-2"></i>
                                <div>
                                    <strong>已享有折扣：NT${{ selectedItem.discountAmount?.toLocaleString() }}</strong>
                                    <span v-if="selectedItem.discountReason" class="ms-2 text-muted">
                                        （{{ selectedItem.discountReason }}）
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <template v-if="selectedItem.openedFrom === 'personal' && 
                        ((selectedItem.approvalStatus === '待繳費' && selectedItem.paymentStatus === '未付款') || 
                        selectedItem.paymentStatus === '待重新上傳')">

                        <!-- 臨櫃付款欄位 -->
                        <div v-if="isCounterPayment(selectedItem.paymentMethod)" class="col-12">

                            <div v-if="selectedItem.amount === 0" class="alert alert-info">
                                <i class="mdi mdi-information me-2"></i>
                                此預約為免費使用,請上傳證明文件(如:公文、許可證明等)
                            </div>

                            <!-- 現金付款資訊提示 -->
                            <div v-if="selectedItem.amount > 0" class="alert alert-secondary mb-3">
                                <h6 class="mb-2"><i class="mdi mdi-cash me-1"></i> 現金付款資訊</h6>
                                <div class="row">
                                    <div class="col-md-6">
                                        <p class="mb-1"><strong>地點：</strong>中正樓與北護分院連通道的郵局旁</p>
                                        <p class="mb-1 text-nowrap">
                                        <strong>時間：</strong>週一至週五 8:00AM - 5:00PM/5:30PM</p>
                                        <p class="mb-1"><strong>聯絡：</strong>(02) 2875-7259</p>
                                        <p class="mb-1"><strong>收據：</strong>現場開立正式收據</p>
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3">
                                <span class="form-label text-secondary font-size-18">
                                    {{ selectedItem.amount === 0 ? '上傳證明文件' : '上傳三聯單' }}
                                    <span class="text-danger">*</span>
                                </span>
                                <input class="form-control fw-bold" type="file" ref="counterPayFiles" accept=".jpg,.jpeg,"
                                       multiple required>
                                <div class="form-text">可上傳多檔;支援 JPG </div>
                            </div>

                            <div class="mb-3">
                                <span class="form-label text-secondary font-size-18">備註(選填)</span>
                                <textarea class="form-control fw-bold" v-model="paymentForm.counterNote" rows="2"
                                          placeholder="例:窗口、收據號碼…"></textarea>
                            </div>
                            <div class="d-flex justify-content-end">
                                <button type="button" class="btn btn-primary" @@click="submitCounterPayment">
                                    上傳憑證
                                </button>
                            </div>
                        </div>

                        <!-- 匯款付款欄位 -->
                        <div v-if="isTransferPayment(selectedItem.paymentMethod)" class="col-12">

                            <!-- 匯款資訊提示 -->
                            <div class="alert alert-info mb-3">
                                <h6 class="mb-2"><i class="mdi mdi-bank me-1"></i> 匯款資訊</h6>
                                <div class="row">
                                    <div class="col-md-6">
                                        <p class="mb-1"><strong>銀行：</strong>合作金庫(006)</p>
                                        <p class="mb-1"><strong>分行：</strong>石牌分行</p>
                                        <p class="mb-1"><strong>戶名：</strong>臺北榮民總醫院作業基金403專戶</p>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="mb-1"><strong>帳號：</strong>1427713000733</p>
                                        <p class="mb-1"><strong>電話：</strong>(02) 2875-7003</p>
                                    </div>
                                </div>
                            </div>

                            <div class="row g-3">
                                <div class="col-6">
                                    <span class="form-label text-secondary font-size-18">
                                        轉帳末五碼 <span class="text-danger">*</span>
                                    </span>
                                    <input type="text" class="form-control fw-bold" v-model="paymentForm.last5" inputmode="numeric"
                                           maxlength="5" placeholder="例如：12345" required
                                           @@input="paymentForm.last5 = $event.target.value.replace(/[^0-9]/g, '')">
                                    <div class="form-text">請輸入 5 碼數字。</div>
                                </div>
                                <div class="col-6">
                                    <span class="form-label text-secondary font-size-18">
                                        金額 <span class="text-danger">*</span>
                                    </span>
                                    <div class="input-group">
                                        <span class="input-group-text fw-bold">NT$</span>
                                        <input type="number" class="form-control fw-bold" v-model="paymentForm.amount" min="1"
                                               step="1" required>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <span class="form-label text-secondary font-size-18">轉帳時間(選填)</span>
                                    <input type="datetime-local" class="form-control fw-bold" v-model="paymentForm.transferAt">
                                </div>
                                <div class="col-12">
                                    <span class="form-label text-secondary font-size-18">備註(選填)</span>
                                    <textarea class="form-control fw-bold" v-model="paymentForm.transferNote" rows="2"
                                              placeholder="例:銀行代碼、分行…"></textarea>
                                </div>
                            </div>
                            <div style="display: flex;justify-content: flex-end;margin-bottom: 20px">
                                <button type="button" class="btn btn-primary mt-3" @@click="submitTransferPayment">
                                    送出匯款資訊
                                </button>
                            </div>
                        </div>

                        <!-- 成本分攤提示 -->
                        <div v-if="isCostSharingPayment(selectedItem.paymentMethod)" class="col-12">
                            <div class="alert alert-info">
                                <i class="mdi mdi-information me-2"></i>
                                此預約採用「成本分攤」付款方式,無需手動上傳憑證。
                            </div>
                        </div>
                    </template>
                <div>
                    <div class="col-12">
                        <h5 class="d-flex align-items-center text-primary border-bottom">
                            <span class="material-icons icons">label_important_outline</span>
                            狀態資訊
                        </h5>
                    </div>
                    <template v-if="selectedItem.openedFrom === 'personal'">
                        <div class="col-md-12">
                            <div class="row">
                                <label class="form-label col-md-3 fw-bold">預約狀態</label>
                                <label class="form-label col-md-9">
                                    <span class="badge" :class="getUserFriendlyStatusClass(selectedItem)">
                                        {{ getUserFriendlyStatus(selectedItem) }}
                                    </span>
                                </label>
                            </div>
                        </div>

                        <!-- 審核拒絕原因 -->
                        <div class="col-md-12" v-if="selectedItem.approvalStatus === '審核拒絕' && selectedItem.rejectReason">
                            <div class="alert alert-danger" role="alert">
                                <strong><i class="mdi mdi-alert-circle me-2"></i>拒絕原因:</strong>
                                <p class="mb-0 mt-2">{{ selectedItem.rejectReason }}</p>
                            </div>
                        </div>

                        <!-- 付款憑證拒絕原因 -->
                        <div class="col-md-12"
                             v-if="selectedItem.paymentStatus === '待重新上傳' && selectedItem.paymentRejectReason">
                            <div class="alert alert-warning" role="alert">
                                <strong><i class="mdi mdi-alert me-2"></i>需要重新上傳:</strong>
                                <p class="mb-0 mt-2">{{ selectedItem.paymentRejectReason }}</p>
                            </div>
                        </div>
                </template>

                <template v-if="selectedItem.openedFrom === 'all'">
                        <div class="col-md-12">
                            <div class="row">
                                <label class="form-label col-md-3 fw-bold">審核狀態</label>
                                <label class="form-label col-md-9">
                                    <span class="badge" :class="getApprovalStatusClass(selectedItem.approvalStatus)">
                                        {{ selectedItem.approvalStatus }}
                                    </span>
                                </label>
                            </div>
                        </div>

                        <!-- 審核拒絕原因 -->
                        <div class="col-md-12" v-if="selectedItem.approvalStatus === '審核拒絕' && selectedItem.rejectReason">
                            <div class="alert alert-danger" role="alert">
                                <strong><i class="mdi mdi-alert-circle me-2"></i>拒絕原因:</strong>
                                <p class="mb-0 mt-2">{{ selectedItem.rejectReason }}</p>
                            </div>
                        </div>

                        <div class="col-md-12 mt-2">
                            <div class="row">
                                <label class="form-label col-md-3 fw-bold">付款狀態</label>
                                <label class="form-label col-md-9">
                                    <span v-if="selectedItem.paymentStatus === '-'" class="text-muted">-</span>
                                    <span v-else class="badge" :class="getPaymentStatusClass(selectedItem.paymentStatus)">
                                        {{ selectedItem.paymentStatus }}
                                    </span>
                                </label>
                            </div>
                        </div>

                        <!-- 付款憑證拒絕原因 -->
                        <div class="col-md-12"
                             v-if="selectedItem.paymentStatus === '待重新上傳' && selectedItem.paymentRejectReason">
                            <div class="alert alert-warning" role="alert">
                                <strong><i class="mdi mdi-alert me-2"></i>付款憑證問題:</strong>
                                <p class="mb-0 mt-2">{{ selectedItem.paymentRejectReason }}</p>
                            </div>
                        </div>
                </template>
                </div>
                
            </form>

            </div>
        </div>

    </div>