/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('/font/v143.woff2') format('woff2');
}

.icon-text-container {
    display: flex;
    align-items: center;
    gap: 3px;
}

.icon-text-container .material-icons {
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
    font-size: 24px;
}

.icon-text-container .text {
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
    font-size: 24px;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    margin-right: 5px;
}

.title-icons {
    font-size: 40px;
}