@import 'df-bootstrap.min.css';
@import 'app.min.css';
@import 'df-app.css';
@import 'icons.css';
@import 'vselect.css';
@import 'createroom.css';
@import 'reservation.css';
@import 'sysconfig.css';
@import 'syscroom.css';

table caption {
    display: none;
}

.global-alert {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1050;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

html {
    font-size: 125%;
}